:root{
    --color-background: #D9ABAB;
    --color-content: #3D3131;
    --opacity-transition: 1;
}
.macondo-regular {
    font-family: "Macondo", serif;
    font-weight: 400;
    font-style: normal;
}
.unifrakturcook-bold {
    font-family: "UnifrakturCook", serif;
    line-height: clamp(55px, 7.5vw, 100px);
    font-weight: 700;
    font-style: normal;
}
/* From Uiverse.io by RaspberryBee */ 
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2em;
    height: 3.5em;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-content);
    transition: .4s;
    border-radius: 10px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 9px;
    left: 0.3em;
    bottom: 1.8em;
    background-color: var(--color-background);
    transition: .4s;
}
  
.switch input:checked + .slider {
    background-color: var(--color-content);
}
  
  
.switch input:checked + .slider:before {
    transform: translateY(1.65em);
    background-color: var(--color-background);
}
  