@import url(globals.css);

body{
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-content);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    transition: .1s;
}
.logo{
    height: fit-content;
    max-width: 20vw;
    min-width: 20vh;
    position: absolute;
    top: 10%;
}
.tittle{
    font-size: clamp(70px, 7vw, 128px);
    text-align: center;
    width: fit-content;
}
button{
    background-color: var(--color-background);
    border-color: var(--color-content);
    color: var(--color-content);
    position: absolute;
    bottom: clamp(30px ,16vh, 90px);
    border: 4px solid;
    padding: 7px 40px;
    font-size: clamp(20px, 2.1vw, 55px);
    transition: .1s;
    cursor: pointer;
}
button:hover{
    background-color: var(--color-content);
    border-color: var(--color-content);
    color: var(--color-background);
}
#main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: var(--opacity-transition);
    transition: .5s linear;
}
.content{
    visibility: hidden;
    scale: 0;
}
.name{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(40px, 3vw, 100px );
}
.name input{
    font-family: "Macondo", serif;
    background-color: var(--color-content);
    color: var(--color-background);
    border: none;
    padding-left: 1.5%;
    font-size: x-large;
    margin-top: 2vh;
    height: 4.5vh;
    width: 80%;
}
.gameBody{
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    width: -webkit-fill-available;
    margin-top: 70px;
    padding: .7rem 1rem;
    height: 80%;
}
.gameBody h2{
    margin: 0;
}
.gameButtons{
    display: flex;
    margin-top: 0;
    width: -webkit-fill-available;
    align-items: center;
}
.opt{
    text-transform: uppercase;
    position: relative;
    bottom: 0;
    margin: 10px 10px;
    transition: 0s;
}
.inventoryCont {
    height: 100%;
    width: fit-content;
    display: flex;
    z-index: 10;
    left: 0;
}
.inventoryBG {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    transition: .1s linear;
}
.inventory{
    background-color: var(--color-background);
    width: clamp(350px, 100vw, 480px);
    height: 100vh;
    z-index: 10;
    left: 100%;
    transition: .2s linear;
}
.statsCont{
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
}
.backpack-text {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    font-size: 1.3em;
}
.multBoxInv{
    display:flex;
    padding: 0px 20px;
    justify-content:space-between;
}
.arrayInv{
    width: -webkit-fill-available;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 16vh;
}
.backpack-text h2{
    margin: 0;
}
#combateContainer{
    scale: 0;
    position: fixed;
    height: fit-content;
    width: fit-content;
    z-index: 10;
    display: grid;
    grid-auto-columns: min-content;
    grid-template-areas:
    "Enm Enm Enm"
    "EnmFA . diceEnmArea"
    "main main main"
    "diceUsuArea . UsuFA"
    "Me Me Me";
    background-color: var(--color-background);
    transition: .2s linear;
}
.cmbStats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 0 5px;
    h1{
        margin: 0;
    }
    h2{
        margin: 10px 0px;
    }
}
.FAcont{
    height: 10vh;
    width: 10vh;
    text-align: center;
    h1{
        margin: 0px;
    }
    h3{
        margin: 5px;
        font-size: 1.17em;
    }
}
.cmbArena{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: clamp(150px, 30vh, 363px);
    width: clamp(150px, 92vw, 620px);
    button{
        position: relative;
    }
}
@media (max-width:600px) {
    .FAcont{
        h3{
            font-size: 3.4vw;
        }
    }
}
.endCmb{
    text-align: center;
    position: absolute;
    button{
        position: initial;
        padding: 5px 10px;
        font-family: "Macondo", serif;
        margin: 5px 10px;
    }
    h2{
        margin-top: 0;
        margin-bottom: 2px;
    }
}
.cmbDice{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}